@charset "UTF-8";
html {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    font-family: "微軟正黑體","Microsoft JhengHei", sans-serif;
    color: #fff;
    letter-spacing: 0.1em;
    position: relative;
    font-size:14px;
}
li {list-style-type: none;}
img {
    vertical-align: bottom;
    margin:0 auto;
    display:block;
    max-width: 100%;
    height: auto;    
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

/*  main
----------------------------------------*/
.top_nav, .cv_btn {
    max-width: 100%;
    padding: 0 5%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#content img {
    max-width: 100%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: auto;    
}
#media .space img, #no1 .space img, #trial-flow .space img, #trial_plan > div > div img, #campaign .cp img, #content .slick-slide img {max-width: 90%;}
.trans-open {margin: 0 auto;}
.studio_btn{
    width: 25%;
    float: left;
}
.header_cvbtn{
    width: 73%;
    float: right;
}
.studio_btn img,.header_cvbtn img{width: 100%;}
.top_nav-wrap {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    margin: 0 auto;
    background: #000;
    transition: .3s;
    left: 0;
    right: 0;
}
#main {
    position: relative;
    text-align: center;
}
.cv_btn{
    margin: 20px auto;
}
.cv_btn a{
    text-decoration : none;
    display : block;
    border-radius: 11px;    
    box-shadow: 0px 10px 0 rgba(10, 174, 137);
    padding-bottom : 0px;
    transition: .2s all ease 0s;
}
.cv_btn a:hover,.cv_btn a:active{
    background-color: none;
    box-shadow: none;
    padding:0;
    transform: translate3d(0, 15px, 0);
}
.txt-kome{
  text-align:left;
  font-size:13px;
  margin:20px 40px;
}
.ttl{
    margin:2em 0;
    text-align:center;
}
.ttl img{
    padding-top:10vw;
    margin:0 auto;
    display:block;
}
#trial_plan #trial h2 {margin-top: 30vw;}
#technology .ttl img {padding-top: 0;}
.relative{position: relative;}
.absolute{position: absolute;}
.str-txt1{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.fv {position: relative;}
.wrapper{
    margin:0 auto;
    overflow: hidden;
}

/*  content
----------------------------------------*/
#content {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.space img {margin-bottom:20px;}
#no1 .space img, #technology .space img, #studio-tour .space img {padding-bottom:50px;}
#no1 .ttl{margin: 0 0 3em;}
#no1 .space .foo-s img{padding-bottom:20px;}
#trial-flow {
    background: url("../images/whatsitlike03.png") no-repeat center top;
    background-size: contain;   
    padding-top: 36vw;
}
#media {
    background: url("../images/media02.png") no-repeat center bottom;
    padding-bottom: 40vw;
    background-size: contain;   
}
#media .ttl{margin: 22vw 0 2em;}
#technology h2, #technology .ttl {margin-top: 0;}
#trial .ttl,#monthly .ttl,#campaign .ttl,#access .ttl{margin: 2em 0;}
#trial-flow {margin-top: 1em;}
#trial-flow .space img {margin-bottom: 0;}
#technology {
    background: url("../images/b-monsterxtechnology04.png") no-repeat center bottom;
    background-size: contain;   
    padding-bottom: 6em;
}
#studio-tour  {
    background: url("../images/trialflow01.png") no-repeat center top;
    background-size: contain;   
    padding-bottom: 1em;
}
#studio-tour .ttl {margin-top: 19vw;}
#studio-tour .ttl img {padding-top: 21vw;}

/*  performer
-----------------------------*/
.twopic, .threepic {
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
}
.twopic a, .threepic a {display: inline-block;}
section#performer .space img {margin-bottom: 40px;}
.twopic a {
    width: 48%;
    float: left;
}
.twopic a:nth-child(even) {float: right;}
.threepic a {
    width: 32%;
    margin-left: 1.5%;        
}
.threepic a:nth-child(3n+1) {margin-left: 0;}

/*  campaign
-----------------------------*/
#campaign {
    margin-top: 40px;
    position: relative;  
}
.cp {
    text-align: center;
    margin: 0 auto;
    display: block;

}

/*  whatis
-----------------------------*/
.whatis-first {
    background: url("../images/firstview01.png") no-repeat center center;
    background-size: contain;
}
.whatis {
    position: relative;
    margin-top:4em;
}

/*  trial_plan
-----------------------------*/
#trial_plan h2 {margin-top: 20px;}
#trial .foo-l img{margin-top:20px;}
#monthly .foo-l img{margin-top:20px;}
#monthly .img-layout {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

/*  accbox
-----------------------------*/
#access {
    background: url("../images/campaign0203.png") no-repeat center top;
    background-size: contain;    
    padding-top: 20vw;
    margin-top: 10vw;
}
.accbox {
    margin: 2em 0 43vw;
    padding: 0;
}
.info .txta-left {
    max-width: 658px;
    margin: 25px auto 0;
}
.txta-left{
    text-align: left;
    font-size: 14px;
    margin: 25px 30px 0;
}
.iframe-wrapper{
    padding-bottom:56.25%;
    height:0;
    position:relative;
    width: 87.735%;
    margin: 30px auto 7%;
}
.iframe-wrapper iframe{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.g-map-div{max-width: 600px;}
#access_imgs .swiper-button-next{
    background:url("../images/btn_car_r.png") no-repeat!important;
    right: 0!important;
    background-size: 16px!important;
}
#access_imgs .swiper-button-prev{
    background:url("../images/btn_car_l.png")no-repeat!important;
    background-size: 16px!important;
}
#access .ttl img{
    padding-bottom:10px;
    width: 100%!important;
}

/*  follow
-----------------------------*/
#follow a {
    display: inline-block;
    margin: 2em;
}
#follow a img {
    width: 35vw;
    max-width: 246px;
}

/*  footer
-----------------------------*/
footer {
    margin-top: 37.5vw;
    position: relative;
}
footer h2 {
    width: 40%;
    max-width: 257px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
footer h2 img {
    width: 100%;
    height: auto;
}
footer ul {
    line-height: 1;
    font-size: 4.0625vw;
    font-family: "Oswald", sans-serif;
    margin-top: 15.625vw;
    position: relative;
    padding-left: 0;
    text-align: center;
}
footer ul li {display: inline-block;}
footer ul li a {
    color: #fff;
    text-decoration: none;
}
footer ul li:nth-child(1) {padding-right: 9.375vw;}
footer #copyright {
    clear: left;
    font-size: 3.125vw;
    font-family: "Oswald", sans-serif;
    margin-top: 12.5vw;
    padding-bottom: 15.625vw;
    color: #999;
    position: relative;
    text-align: center;
}

/* ---------------------------------
  CSS HACK
--------------------------------- */
.clearfix:after {
    height: 0;
    visibility: hidden;
    line-height: 0;
    content: "";
    display: block;
    clear: both;
}

*:first-child + html .clearfix {
    display: inline-block;
    display: inline;
    zoom: 1;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* slick
-------------------------------------------------- */
.slick-slide {outline: none;}
.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 5;
    text-indent: -9999px;
    width: 22px;
    height: 114px;    
}
.slick-prev{
    background: url("../images/btn_car_l.png") no-repeat center center;
    left: 7%;
    right: auto;
}
.slick-next {
    background: url("../images/btn_car_r.png") no-repeat center center;
    right: 7%;
    left: auto;
}
/* Dots */
.slick-dotted.slick-slider {margin-bottom: 130px;}
.slick-dots {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {outline: none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
    background: #ffffff;
    opacity: 1;
}
.slick-dots li button:before {
    width: 8px;
    height: 8px;
    content:"";
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
}

/* delighter */
.foo.delighter {
    transition: all .3s ease;
    transform: translateY(50%);
    opacity: 0;
}
.foo.delighter.started {
    transform: none;
    opacity: 1;
}
.foo-s.delighter {
     transition: all .5s ease;
     transform: translateY(10%);
     opacity: 0;
}
.foo-s.delighter.started {
   transform: none;
   opacity: 1;
}
.foo-r.delighter {
   transition: all .5s ease;
   transform: translateX(50%);
   opacity: 0;
}
.foo-r.delighter.started {
     transform: none;
     opacity: 1;
}
.foo-l.delighter {
    transition: all .5s ease;
    transform: translateX(-50%);
    opacity: 0;
}
.foo-l.delighter.started {
    transform: none;
    opacity: 1;
}

@media screen and (min-width: 751px) {
  body {font-size: 18px;}
  .top_nav, .cv_btn, #content {
      max-width: 750px;
      padding: 0;      
  }  
  .top_nav{
      list-style-type: none;
      margin: 0px auto;
  }
  .top_nav li a {
      display: block;
      font-size: 14px;
      line-height: 1;
      text-decoration: none;
      transition: .3s;
  }
  #trial_plan {margin-top: 0px;}
  #trial_plan #trial h2 {margin-top: 8em;}
  #access {
    padding-top: 8em;
    margin-top: 6em;  
  }
  .slick-prev {left: 62px;}
  .slick-next {right: 62px;} 
  .accbox {margin-bottom: 18em;}     
  .txta-left{
      text-align: left;
      font-size: 20px;
  }
  .txt-kome{
      font-size:18px;
      text-align:left;
      max-width:640px;
      margin:20px 30px;
  }
  .cv_btn a{
      text-decoration : none;
      display : block;
      border-radius: 11px;
      box-shadow: 0px 15px 0 rgba(10, 174, 137);
      padding-bottom : 0px;
      transition: .2s all ease 0s;
  }
  .ttl {margin:4em 0;}
  #studio-tour .ttl {margin-top: 6em;}  
  .ttl img {padding-top:3em;}
  #technology .ttl img {padding-top: 0;}
  #studio-tour .ttl img {padding-top: 6em;}    
  #media {padding-bottom: 20em;}    
  #media .ttl{margin-top: 6em;}
  #trial-flow {padding-top: 18em;}
  footer {margin-top: 2em;}
  footer ul {
      font-size: 26px;
      margin-top: 100px;
  }
  footer ul li:nth-child(1) {padding-right: 60px;}
  footer #copyright {
      font-size: 20px;
      margin-top: 80px;
      padding-bottom: 180px;
  }    
}

@media screen and (max-width: 750px) {
    .twopic, .threepic {padding: 0 5%;}
    .iframe-wrapper {max-width: 658px;}    
/*    .threepic a {
        width: 48%;
        margin-left: auto;
    }
    .threepic a:nth-child(even) {float: right;}*/
    #monthly .img-layout {bottom: 11%;}
    .info {
        width: 88%;
        margin: 0 auto;
    }
    .info .txta-left {
        margin-left: 0;
        margin-right: 0;
    }
    footer #copyright {padding-bottom: 28vw;}
}